body {
	background-color: black;
}
p {
	color: whitesmoke;
}
.cabecalho{
	background-color: green;
	height: 150px;
}
.conteudo {
	background-color: purple;
	height: 500px;
	display: grid;
	grid-template-columns: auto auto;
	margin-top: 20px;
}
.radape {
	background-color: blue;
	height: 50px;
}
.coluna {
	background-color: #2e2c2c;
	height: auto;
	width: 500px;
	padding: 50px;
	margin: 50px;
}
.a_esquerda {
	margin-left: auto;
}
.a_direita {
	margin-right: auto;
}