<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>News</title>
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>
		<h1>Cometa verde passa perto da Terra hoje; veja foto</h1>
		<hr></hr>
		<center>
		<img src="../imagens_site/imagem2.jpg">
		</center>
		<p class="texto">Um cometa verde, que não nos visitava há 50 mil anos, passará a "apenas" 42 milhões de quilômetros da Terra — o ponto mais próximo de nosso planeta, chamado perigeu —, nesta quarta-feira (1º). Chamado C/2022 E3 (ZTF), ele está bem brilhante e esverdeado, após os gases de seu núcleo terem sido aquecidos pelo Sol, formando a bela cauda. Ele pode ser visto com auxílio de telescópios e até ser observado a olho nu de algumas partes do planeta — inclusive do Brasil.</p>
		<p class="voltar">
			<a href="file:///C:/Users/Pedro.Milani/Desktop/Pedro/Linguagem%20de%20Marca%C3%A7%C3%A3o/Site/index.html">Voltar</a>
		</p>
		<hr></hr>
		<p>Desenvolvido por: Pedro de Oliveira Milani</p>
	</body>
</html>