<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>News</title>
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>
		<h1>Cometa verde passa perto da Terra hoje; veja o video</h1>
		<hr></hr>
		<center>
		<video width="560" controls autoplay muted>
			<source src="../midia_site/video1.mp4">
		</video>
		</center>
		<p class="texto">Um cometa verde que passa pela Terra a cada 50 mil anos está de volta. E vai dar pra ver daqui do Brasil. Assista o video a cima para entender.</p>
		<p class="voltar">
			<a href="file:///C:/Users/Pedro.Milani/Desktop/Pedro/Linguagem%20de%20Marca%C3%A7%C3%A3o/Site/index.html">Voltar</a>
		</p>
		<hr></hr>
		<p>Desenvolvido por: Pedro de Oliveira Milani</p>
	</body>
</html>